<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Відкриті для співробітництва та пропозицій. Телефон: +38(067)670-05-23. Email: mkraj-ua@ukr.net. Юридична адреса: Львівська обл., Городоцький р-н., с. Угри, вул. Вербова, 46">
    <meta name="title" content="Як знайти нас - ПП Мясний край">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate" />
    <meta property="og:title" content="Як знайти нас - ПП Мясний край" />
    <meta property="og:description" content="Відкриті для співробітництва та пропозицій. Телефон: +38(067)670-05-23. Email: mkraj-ua@ukr.net. Юридична адреса: Львівська обл., Городоцький р-н., с. Угри, вул. Вербова, 46" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://probisan-dev.netlify.com/views/contact.html" />
    <meta property="og:image" content="https://probisan-dev.netlify.com/assets/images/banner.jpg" />
    <title>ProBiSan | Контакти</title>
    <!-- build:css -->
    <link rel="stylesheet" href="/dist/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--Start header-->
    <header class="contact-header">
        <div class="container">
            <div class="row">
                <div class="col-12 text-header">
                    <h1>Співпраця</h1>
                </div>
            </div>
        </div>
    </header>

    <!--End header-->


    <!-- Start navbar-->
    <nav class="navbar navbar-expand-lg navbar-custom">

        <ul class="language my-auto">
            <li class="change-language">
                <a class="nav-link active" href="#">UA</a>
            </li>
            <li class="change-language">
                <a class="nav-link" href="https://probisanru-dev.netlify.com/views/cooperation.html">RUS</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="30px">
               <g>
                   <g>
                       <path d="M501.333,96H10.667C4.779,96,0,100.779,0,106.667s4.779,10.667,10.667,10.667h490.667c5.888,0,10.667-4.779,10.667-10.667
                           S507.221,96,501.333,96z" fill="#fff"/>
                   </g>
               </g>
               <g>
                   <g>
                       <path d="M501.333,245.333H10.667C4.779,245.333,0,250.112,0,256s4.779,10.667,10.667,10.667h490.667
                           c5.888,0,10.667-4.779,10.667-10.667S507.221,245.333,501.333,245.333z"  fill="#fff"/>
                   </g>
               </g>
               <g>
                   <g>
                       <path d="M501.333,394.667H10.667C4.779,394.667,0,399.445,0,405.333C0,411.221,4.779,416,10.667,416h490.667
                           c5.888,0,10.667-4.779,10.667-10.667C512,399.445,507.221,394.667,501.333,394.667z" fill="#fff"/>
                   </g>
               </g>
            </svg>
            </button>

        <div class="collapse navbar-collapse navbar-default justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Головна</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Продукція
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="productForPig.html">Для свиней</a>
                        <a class="dropdown-item" href="productForBird.html">Для птиці</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="views/contact.html">Контакти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="cooperation.html">Співпраця</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="change-language">
                    <a class="nav-link active" href="#">UA</a>
                </li>
                <li class="change-language">
                    <a class="nav-link" href="https://probisanru-dev.netlify.com/views/cooperation.html">RUS</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End navbar-->


    <main class="container">
        <div class="row">
            <div class="col-12">
                <div class="row  d-flex align-items-center my-4">
                    <section class="col-lg-12">
                        <h5 class="title">Ми постійно розширюємо свою дилерську мережу на ринку кормового бізнесу України.</h5>
                        <hr/>
                        <p>Наша мета - наявність однодумців, які разом з нами інтенсивно розвивають галузь, успішно впроваджують та застосовують новітні технології, будуючи стійкі та взаємовигідні бізнес відносини.</p>
                    </section>
                </div>
            </div>
            <div class="col-12">
                <div class="row d-flex align-items-center my-4">
                    <section class="order-lg-1 order-lg-2 col-lg-12">
                        <h5 class="title">Бути партнером компанії «Мясний край» (ТМ Probisan) означає мати унікальні вигідні умови співпраці, які гарантують розвиток бізнесу та отримання прибутку:</h5>
                        <hr/>
                        <ul class="history">
                            <li class="history-item">
                                <svg version="1.1" id="Check_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#83AF3F"/>
                                        </g>
                                    </g>
                                </svg>Відсутність конкуренції по нашій продукції в вашому регіоні;
                            </li>
                            <li class="history-item">
                                <svg version="1.1" id="Check_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#83AF3F"/>
                                        </g>
                                    </g>
                                </svg>Розробка схем годівлі та супровід кваліфікованих спеціалістів;
                            </li>
                            <li class="history-item">
                                <svg version="1.1" id="Check_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#83AF3F"/>
                                        </g>
                                    </g>
                                </svg>Вигідні дилерські ціни, система знижок на всю продукцію та зручні умови оплати;
                            </li>
                            <li class="history-item">
                                <svg version="1.1" id="Check_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#83AF3F"/>
                                        </g>
                                    </g>
                                </svg>Забезпечення маркетинговим матеріалом та сувенірною продукцією;
                            </li>
                            <li class="history-item">
                                <svg version="1.1" id="Check_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="15" width="15">
                                    <g>
                                        <g>
                                            <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                                c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                                C514.5,101.703,514.499,85.494,504.502,75.496z" fill="#83AF3F"/>
                                        </g>
                                    </g>
                                </svg>Індивідуальний підхід до кожного партнера.
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-center leaveQuestion">
                <h4 class="mb-4">Залишились питання?</h4>
                <a class="leaveQuestion__btn animation" href="contact.html">Зателефонуйте нам</a>
            </div>
        </div>
    </main>
    <!-- /.container -->

    <!--Start footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text my-2">
                    <small>ProBiSan 2008-2020. Всі права захищено</small>
                </div>
            </div>
        </div>
    </footer>
    <!--End footer-->

    <!-- build:js -->
    <script src="/dist/app.js"></script>
    <!-- endbuild -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "BroBiSan",
            "alternatename": "BroBiSan.com.ua",
            "url": "https://probisan-dev.netlify.com/",
            "logo": "https://probisan-dev.netlify.com/assets/images/logo.jpg",
            "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "+38(067)670-05-23",
                "email": "mkraj-ua@ukr.net",
                "contactType": "customer service",
                "areaServed": "UA"
            }],
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "вул. Вербова, 46",
                "addressLocality": "Львівська обл., Городоцький р-н., с. Угри",
                "addressCountry": "UA"
            }
        }
    </script>
</body>

</html>