<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Ефективний спосіб вигідної та швидкої відгоділві свиней">
    <meta name="title" content="Відгодівля свиней">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate" />
    <meta property="og:title" content="Відгодівля свиней" />
    <meta property="og:description" content="Ефективний спосіб вигідної та швидкої відгоділві свиней" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://probisan-dev.netlify.com/views/productforpig" />
    <meta property="og:image" content="https://probisan-dev.netlify.com/assets/images/banner.jpg" />
    <title>ProBiSan | Відгодівля свиней</title>
    <!-- build:css -->
    <link rel="stylesheet" href="/dist/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--Start header-->
    <header class="contact-header">
        <div class="container">
            <div class="row">
                <div class="col-12 text-header">
                    <h1>Відгодівля свиней</h1>
                </div>
            </div>
        </div>
    </header>

    <!--End header-->


    <!-- Start navbar-->
    <nav class="navbar navbar-expand-lg navbar-custom">

        <ul class="language my-auto">
            <li class="change-language">
                <a class="nav-link active" href="#">UA</a>
            </li>
            <li class="change-language">
                <a class="nav-link" href="https://probisanru-dev.netlify.com/views/productforpig">RUS</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="30px">
               <g>
                   <g>
                       <path d="M501.333,96H10.667C4.779,96,0,100.779,0,106.667s4.779,10.667,10.667,10.667h490.667c5.888,0,10.667-4.779,10.667-10.667
                           S507.221,96,501.333,96z" fill="#fff"/>
                   </g>
               </g>
               <g>
                   <g>
                       <path d="M501.333,245.333H10.667C4.779,245.333,0,250.112,0,256s4.779,10.667,10.667,10.667h490.667
                           c5.888,0,10.667-4.779,10.667-10.667S507.221,245.333,501.333,245.333z"  fill="#fff"/>
                   </g>
               </g>
               <g>
                   <g>
                       <path d="M501.333,394.667H10.667C4.779,394.667,0,399.445,0,405.333C0,411.221,4.779,416,10.667,416h490.667
                           c5.888,0,10.667-4.779,10.667-10.667C512,399.445,507.221,394.667,501.333,394.667z" fill="#fff"/>
                   </g>
               </g>
            </svg>
            </button>

        <div class="collapse navbar-collapse navbar-default justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Головна</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Продукція
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="productForPig.html">Для свиней</a>
                        <a class="dropdown-item" href="productForBird.html">Для птиці</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Контакти</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="change-language">
                    <a class="nav-link active" href="#">UA</a>
                </li>
                <li class="change-language">
                    <a class="nav-link" href="https://probisanru-dev.netlify.com/views/productforpig">RUS</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End navbar-->


    <main class="container">
        <div class="row">
            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/premiumUniorProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/premium_unior.jpg" alt="Premium_unior">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/premiumUniorProduct.html" target="_blank">Premium Unior</a>
                        </div>
                        <div class="text">
                            <p>15-10% концентрат(стартер) для поросят до 25-30 кг.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/premiumUniorProduct.html" target="_blank">Детальніше</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/premiumComplexProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/premium_complex.jpg" alt="Premium_complex">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/premiumComplexProduct.html" target="_blank">Premium Complex</a>
                        </div>
                        <div class="text">
                            <p>15-10% концентрат для м'ясних свиней на відгодівлі від 25 кг.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/premiumComplexProduct.html" target="_blank">Детальніше</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/aminoPlusProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/amino_plus.jpg" alt="Amino_plus">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/aminoPlusProduct.html" target="_blank">Amino Plus</a>
                        </div>
                        <div class="text">
                            <p>3-2,5% премікс для м’ясних свиней на відгодівлю від 25 кг.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/aminoPlusProduct.html" target="_blank">Детальніше</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4 justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/premiumPigletProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/premium_piglet.jpg" alt="Premium_piglet">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/premiumPigletProduct.html" target="_blank">Premium Piglet</a>
                        </div>
                        <div class="text">
                            <p>Готовий гранульований престартер для поросят.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/premiumPigletProduct.html" target="_blank">Детальніше</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->

            <!--Start product card-->
            <div class="col-md-6 col-lg-4 d-flex my-4  justify-content-center">
                <div class="product">
                    <div class="text-center product_image">
                        <a href="moreProduct/premiumLacProduct.html" target="_blank">
                            <img class="my-4" src="../assets/images/premium_lac.jpg" alt="Premium_lac">
                        </a>
                    </div>
                    <div class="product_descr">
                        <div class="title">
                            <a href="moreProduct/premiumLacProduct.html" target="_blank">Premium Lac</a>
                        </div>
                        <div class="text">
                            <p>18% концентрат для високопоросних і лактуючих свиноматок.</p>
                        </div>
                        <div class="more">
                            <a href="moreProduct/premiumLacProduct.html" target="_blank">Детальніше</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End product card-->
        </div>
    </main>
    <!-- /.container -->

    <!--Start footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text my-2">
                    <small>ProBiSan 2008-2020. Всі права захищено</small>
                </div>
            </div>
        </div>
    </footer>
    <!--End footer-->

    <!-- build:js -->
    <script src="/dist/app.js"></script>
    <!-- endbuild -->
</body>


</html>